@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300i,300,400,400i,500,700");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.out1{
  border: 50px;
  padding: 100px;
 
  background: url('./components/photo/bgbody.jpg');
}

.round{
  /* border: 10px; */
  border: 10px #120338;
  border-style:  solid;
  /* border-radius: 5px; */
  background: white;

}

#img{
  border: 5px black;
  border-style:  solid;
}

.innerLine{
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
}

.img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.imgPad{
  border: 10px black;
  /* border-style: double; */
  padding: 50px;
  padding-top: 80px;
  /* background: url('./components/photo/bg.jpeg')no-repeat, rgb(119, 199, 252); */
  /* background; */
  background-size: cover;
  
}

.imgCT{
  display: flex;
  align-items: center;
  border: 10px;
  padding: 50px;
  padding-top: 300px;
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* top:100px; */
  
}

.fontPage{
 
  /* color: #f0f0f0; */
  display: grid;
  font-family: monospace !important;
  font-size: 24px;
  
  place-content: center;
}

/* .fontPage{
  font-family: monospace ;
  font-size: 30px;
  place-content: center;
  display: grid;

} */

.fontApp{
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-border-before: 1px;
  border-radius: 8px;
}

.bgcolor{
  /* background: #0050b3; */

}

.allFont{
  font-family: monospace !important;
}
.fa-node-js:hover{
  color: green;
}
.fa-js:hover{
  color: yellow;
}
.fa-react:hover{
  color: aqua;
}
.fa-html5:hover{
  color: orangered;
}
.fa-node-js:hover{
  color: green;
}
#nestjs:hover{
  filter: none;
}
#nestjs{
  filter: grayscale(1);
}
.fa-git:hover{
  color: orangered;
}
.fa-docker:hover{
  color: aquamarine;
}
#mysql:hover{
  filter: none;
}
#mysql{
  filter: grayscale(1);
  width: 70px;
  height: 70px;
}
#Ml{
  filter: grayscale(1);
  width: 50px;
  height: 50px;
}
#Ml:hover{
  filter: none;
}
#mongodb:hover{
  filter: none;
}
#mongodb{
  filter: grayscale(1);
}
.fa-vuejs:hover{
  color: green;
}
#flutter:hover{
  filter: none;
}
#flutter{
  filter: grayscale(1);
}
.fa-css3-alt:hover{
  color: blue; 
}
#opencv:hover{
  filter: none;
}
#opencv{
  filter: grayscale(1);
}
#tensorflow:hover{
  filter: none;
}
#tensorflow{
  filter: grayscale(1);
}